.vscode/**
.vscode-test/**
.vscodeignore
src/**
out/test/**
out/**/*.map
out/**/*.d.ts
out/extension.js
out/extension.js.map
node_modules/**
package-lock.json
tsconfig.json
esbuild.*.mjs
scripts/**
.devin/**
.esbuild
.gitignore
